<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/weather.png">
  <script src="https://kit.fontawesome.com/5e3005e55e.js" crossorigin="anonymous"></script>
  {{>title}}
</head>
<body>
  {{>navbar}}

  <main class="container">
    <section id="about-container">
    <header id="about-header">
      <h2>
        <span class="line"></span> About WeatherNow <span class="line"></span>
      </h2>
    </header> 

    <section id="about-text">
      <p>
        WeatherNow provides real-time, accurate, and hyper-local weather updates to help you plan your day with confidence. Whether you're at home, traveling, or planning outdoor activities, our app delivers reliable forecasts, radar maps, and severe weather alerts to keep you informed. Stay ahead of the weather with detailed reports and enjoy a seamless experience on all your devices.
      </p>
    </section>
    </section>
  </main>

  {{>footer}}
</body>
</html>