<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/weather.png">
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <script src="https://kit.fontawesome.com/5e3005e55e.js" crossorigin="anonymous"></script>
  {{>title}}
</head>
<body>
  {{>navbar}}
  <main class="container">
    <form class="form">
    <div class="title">Contact us</div>
    <input type="text" placeholder="Your email" class="input">
    <textarea placeholder="Your message"></textarea>
    <button>Submit</button>
</form>
  </main>
  {{>footer}}
</body>
</html>