
<footer>
  <h2>Created by {{name}}</h2>
  <div class="footer-social-container">
    <ul>
      <li class="footer-social-links">
        <a href="https://www.linkedin.com/in/chamngary-p-057b82210/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li class="footer-social-links">
        <a href="https://github.com/ChamPhayrin" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-github"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>



