
<nav>
  <h1 id="nav-title">
    WeatherNow
  </h1>

  <div id="nav-links">
      <a href="/" class="nav-link nav-link-ltr"> weather</a>
      <a href="/about" class="nav-link nav-link-ltr"> about</a>
      <a href="/help" class="nav-link nav-link-ltr"> help</a>
  </div>
</nav>