@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;


nav{
  min-height: 10vh;
  height: auto;
  width: 100%;
  @include flexbox(space-between, center, row);
  padding: toRem(10) toRem(100);
  background-color: rgb(237, 245, 255);
    h1{
      font-size: toRem(50);
    }
    #nav-links{
      @include flexbox(space-between, center, row);
      width: 20%;
      .nav-link {
        font-weight: bold;
        font-size: toRem(14);
        text-transform: uppercase;
        text-decoration: none;
        color: #031D44;
        padding: toRem(20) 0;
        margin: 0 toRem(20);
        display: inline-block;
        position: relative;
        opacity: 0.75;
      }
      
      .nav-link:hover {
        opacity: 1;
      }
      
      .nav-link::before {
        transition: 300ms;
        height: toRem(5);
        content: '';
        position: absolute;
        background-color: #031D44;
      }
      
      .nav-link-ltr::before {
        width: 0%;
        bottom: 10px;
      }
      
      .nav-link-ltr:hover::before {
        width: 100%;
      }
      
      .nav-link-fade-up::before {
        width: 100%;
        bottom: toRem(5);
        opacity: 0;
      }
      
      .nav-link-fade-up:hover::before {
        bottom: toRem(5);
        opacity: 1;
      }
          }
        }



@media (max-width: 768px) {
  nav{
    margin: 0;
    padding: 0;
    @include flexbox(center, center, column);
    #nav-links{
      width: 100%;
      padding: 0 toRem(10);
    }
    
  }
}